body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* A warm gradient background */
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

input:focus {
  border-color: #4CAF50;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.remember-me {
  display: flex;
  align-items: center;
}

.forgot-password {
  text-align: center;
  margin-top: 15px;
}

.forgot-password a {
  color: #4CAF50;
  text-decoration: none;
}

.signup-link {
  text-align: center;
  margin-top: 30px;
}

.signup-link a {
  color: #4CAF50;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.logo img {
  width: 50px;
  margin-bottom: 20px;
}
